<div id="<%= dom_id tender %>">
  <p>
    <strong>Title:</strong>
    <%= tender.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tender.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= tender.status %>
  </p>

  <p>
    <strong>Submission date:</strong>
    <%= tender.submission_date %>
  </p>

</div>
