<div class= 'center'>
<%if user_signed_in? %>
   Signed in as <%= current_user.email%>
   <%= link_to 'Sign out' , destroy_user_session_path , :method => :delete %><br><hr>
    <%= render "tenders/tenders" %>
   <%= link_to 'Create New Tender' , new_tender_path %>
<%else%>
   <%= link_to 'Sign in', new_user_session_path , class: 'anchor-alignment'%>
   <%= link_to 'Sign up', new_user_registration_path %>
<%end%>
<%= link_to 'all_users', all_users_path , class: 'anchor-alignment'%>
</div>
   <style>
   .anchor-alignment{
      padding: 2px 38px 25px 20px
   }
   .center{
      padding: 35px 10px 20px 20px;
      background: #f9f9f9;
      margin: 50px;
   }
   
   </style>